@import './global.less';
@import './antd.less';
@import './normal.less';

body {
  min-width: 1300px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #DEDEE4;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.ant-menu-vertical.ant-menu-sub {
  background: linear-gradient(to bottom, #626B8D, #292F46);
}

.ant-layout-header {
  height: 80px;
  line-height: 80px;
}

.ant-menu-horizontal {
  line-height: normal;
}

.ant-layout {
  background: #F4F6FC;
}

.ant-menu-sub {
  min-width: 130px !important;
}

.App {
  &-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #626B8D, #292F46);

    .ant-menu-submenu-selected {
      color: #fff;
      background-color: rgba(254, 254, 254, 0.25);
    }

    .ant-menu-dark {
      background: transparent;
      height: 100%;
    }

    .ant-menu-submenu {
      height: 100%;

      &-active {
        background-color: rgba(254, 254, 254, 0.25);
      }

      &-title {
        height: 100%;
      }
    }

    .ant-menu-item {
      height: 100%;
    }

    .menu-link,
    .ant-menu-submenu-title {
      height: 100%;
      display: flex !important;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }

    .anticon {
      margin-right: 0;
      font-size: 20px;
      margin-bottom: 3px;
    }

    .header-left-wrapper {
      display: flex;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 40px;
        color: #fff;
        padding-right: 40px;
        margin-right: 40px;
        border-right: 2px solid rgba(255, 255, 255, 0.2);
      }
    }

    .user {
      display: flex;
      color: rgba(255, 255, 255, 0.65);

      span {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 24px;

        &:hover {
          color: #fff;
        }

        i {
          width: 24px;
          height: 24px;
          background: rgba(254, 254, 254, 0.2);
          margin-right: 2px;
          border-radius: 50%;
        }
      }
    }
  }

  &-container {
    min-height: calc(100vh - 120px);
    background: #fff;
    margin: 20px 15px 20px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-bottom: 10px;

    &.app-work {
      background: transparent;
      box-shadow: inherit;
    }
  }
}


.ant-table-fixed {
  table-layout: fixed;
}
