// tag css
.mjoys-tag {
  display: inline-block;
  padding: 0.5px 10px;
  border-radius: 14px;

  &__warn {
    background: rgba(250, 140, 22, 0.1);
    color: #fa8c16;
  }

  &__primary {
    background: rgba(102, 146, 255, 0.1);
    color: rgba(102, 146, 255, 1);
  }

  &__normal {
    background: rgba(57, 191, 127, 0.1);
    color: #39BF7F;
  }

  &__error {
    background: rgba(255, 123, 128, 0.1);
    color: #FF7B76;
  }

  &__disabled {
    background: #eee;
    color: #999;
  }
}
