.phone-panel {
  padding: 0 20px;

  &__log {
    height: calc(100vh - 365px);
    overflow-y: auto;
  }

  .call-panel {
    display: flex;
    width: 100%;
    height: 140px;
    padding: 15px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background: #52C9F4 url("../images/wave_img.png") no-repeat left bottom/100%;

    .user-info {
      display: flex;
      align-items: center;
      width: 50%;
      @media screen and(max-width: 1500px) {
        display: none;
      }

      .avatar {
        width: 80px;
        height: 80px;
        background: url("../images/profile_img.png") no-repeat center/cover;
      }

      .user {
        color: #fff;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-left: 10px;

        .username {
          font-size: 20px;
        }
      }
    }

    .call-message {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .call-time {
        background: rgba(254, 254, 254, 0.3);
        height: 36px;
        line-height: 36px;
        border-radius: 50px;
        padding: 0 12px;
        color: #ffff;
        font-size: 20px;
      }

      .message, .call {
        position: relative;
        width: 100px;
        height: 36px;
        border-radius: 20px;
        color: #fff;
        text-align: center;
        line-height: 36px;
        font-size: 16px;
        transition: all 0.5s ease;
        background: rgba(255, 255, 255, 0.3);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .content {
          width: 70px;
          text-align: center;
          float: right;
        }

        &.active {
          &.call {
            background: rgba(255, 128, 128, 0.5);
          }

          .icon {
            left: calc(100% - 36px);

            &-call {
              background: url("../images/hangup.png") no-repeat center/cover;
            }
          }

          .content {
            float: left;
          }
        }

        .icon {
          position: absolute;
          left: 0;
          top: 0;
          width: 36px;
          height: 100%;
          border-radius: 50%;
          transition: all 0.5s ease;

          &-short-message {
            background: url("../images/icon-short-message.png") no-repeat center/cover;
          }

          &-call {
            background: url("../images/call-status.png") no-repeat center/cover;
          }
        }
      }
    }
  }

  h5 {
    display: flex;
    font-size: 16px;
    font-weight: normal;

    .icon {
      width: 28px;
      height: 25px;
      margin-right: 5px;

      &-robot {
        background: url("../images/icon-center-robot.png") no-repeat center/cover;
      }

      &-agent {
        background: url("../images/icon-center-agent.png") no-repeat center/cover;
      }

      &-message {
        background: url("../images/icon-center-message.png") no-repeat center/cover;
      }
    }
  }

  .log-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    padding: 0 20px;

    .audio {
      flex: 1;
      margin: 0 20px;
      margin-top: 6px;
    }

    .duration {
      width: 30px;
      text-align: center;
    }

    .download {
      display: flex;
      align-items: center;
      margin-left: 10px;

      .icon {
        width: 16px;
        height: 16px;
        background: url("../images/common_download_icon.png") no-repeat center/cover;
        margin-right: 5px;
      }

      color: #6692FF;
    }

    .time {
      width: 120px;
      flex-shrink: 0;
    }

    .border {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 10px;

    }

    &.robot {
      background: rgba(74, 178, 255, 0.1);

      .border {
        border-left: 4px solid #4AB2FF;
      }
    }

    &.agent {
      background: rgba(102, 146, 255, 0.1);

      .border {
        border-left: 4px solid #6692FF;
      }
    }

    &.message {
      background: rgba(247, 173, 41, 0.1);

      .border {
        border-left: 4px solid #F7AD29;
      }

      .content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 5px;
      }
    }
  }


}
