.user-info-form {
  padding: 0 20px;

  .ant-calendar-picker{
    width: 100%;
  }

  .ant-form-item {
    margin-bottom: 0;
    color: #292F46;

    .ant-form-item-label > label {
      color: #888888;
    }
  }

  .line {
    width: 100%;
    border: 1px solid #EEEEEE;
    margin: 5px 0;
  }
}

.right-panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    color: #292F46;
    font-size: 16px;
  }

  .btn {
    color: #6692FF;
    cursor: pointer;
  }
}
