.work {
  height: calc(100vh - 130px);

  &-left {
    float: left;
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .add-user-btn {
      margin-right: 16px;

      .btn {
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: rgba(102, 146, 255, 0.1);
        color: #6692FF;
        font-weight: 500;
        margin-top: 11px;
      }
    }

    &__user-list {
      width: 100%;
      height: calc(100vh - 189px);
      overflow-y: scroll;

      .loadmore {
        display: flex;
        justify-content: center;
        line-height: 40px;
        align-items: center;
      }

      .users-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        background: #fff;
        line-height: 40px;
        margin-bottom: 0;
        padding: 0 10px;

        li {
          width: 80px;
          text-align: center;

          &:nth-child(4) {
            width: 40px;
          }

          &:first-child {
            text-align: left;
          }

          &:last-child {
            text-align: right;
            width: 50px;
          }
        }
      }

      .users {
        .user-item {
          display: flex;
          justify-content: space-between;
          height: 40px;
          line-height: 40px;
          color: #686D7F;
          cursor: pointer;
          padding: 0 10px;

          &.active {
            background: rgba(73, 119, 240, 0.2) !important;
          }

          &:hover {
            background: rgba(73, 119, 240, 0.2) !important;
          }

          > span {
            width: 80px;
            text-align: center;
            //display: flex;
            //align-items: center;
            //justify-content: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            b {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 24px;
              height: 24px;
              border-radius: 50%;

              &.normal {
                background: rgba(102, 102, 102, 0.1);
                color: #666666;
              }

              &.online {
                background: rgba(82, 182, 116, 0.1);
                color: #50B674;
              }

              &.no-online {
                background: rgba(255, 127, 122, 0.1);
                color: #ff7f7a;
              }
            }

            &:nth-child(4) {
              width: 40px;
            }

            &:first-child {
              text-align: left;
            }

            &:last-child {
              text-align: right;
              width: 50px;
            }
          }

          &:nth-child(odd) {
            background-color: #F7F7F7;
          }

          &:nth-child(even) {
            background-color: #FFFFFF;
          }
        }
      }
    }

    .search-user {
      height: 36px;
      overflow: hidden;
      padding: 2px 10px;
      transition: height 0.3s ease;

      &.open {
        height: 250px;
      }

      .ant-form-item {
        margin-bottom: 3px;
      }

      label, .ant-select, .ant-input {
        color: #686D7F;
      }

      .union_item {
        .ant-form-item-children {
          display: flex;
          align-items: center;
        }

        .search-icon {
          width: 22px;
          height: 20px;
          background: #eee;
          margin-left: 20px;
          cursor: pointer;
          background: url("../images/workbench_search_icon.png") no-repeat center/cover;
        }
      }

      #uni_query, .ant-calendar-picker-input, .ant-select-selection {
        background: #F9FAFD;
        border: 1px solid #dadae1;
      }
    }
  }

  &-right {
    &.fixed {
      position: fixed;
      right: -400px;
    }

    float: right;
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  &-center {
    height: 100%;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-left: 415px;
    margin-right: 415px;

    .page-button {
      margin-right: 14px;

      .first {
        margin-right: 20px;
      }
    }

    .wechat-pane {
      height: calc(100vh - 189px);
    }
  }
}

.add-user-modal {
  .ant-modal-body {
    padding: 0 20px;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }
}

.work-fixed {
  position: fixed;
  right: 0;
  top: 300px;

  &__task, &__user, &__phone {
    width: 40px;
    word-wrap: break-word;
    font-size: 16px;
    color: #fff;
    padding: 5px;
    border-radius: 4px 0 0 4px;
    text-align: center;
    cursor: pointer;
  }

  &__user {
    background: linear-gradient(to bottom, #9FC4FF, #6692FF); /* 标准的语法 */
    box-shadow: 0 2px 16px 0 rgb(102, 146, 255, 0.6);
    margin-bottom: 20px;
  }

  &__task {
    background: linear-gradient(to bottom, rgba(136, 220, 55, 0.79), rgba(35, 199, 162, 1)); /* 标准的语法 */
    box-shadow: 0 2px 16px 0 rgba(136, 220, 55, 0.4);
    margin-bottom: 20px;
  }

  &__phone {
    background: linear-gradient(to bottom, #9FC4FF, #6692FF); /* 标准的语法 */
    box-shadow: 0 2px 16px 0 rgb(102, 146, 255, 0.6);
  }


}

.work-info {
  .ant-card {
    border-radius: 4px;
  }

  .fixed-task {
    &__count, &__today_call, &__today_count {
      background: #6692FF;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }

    &__wait {
      background: #FF7B76;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }

    &__today_add {
      background: #39BF7f;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .ant-card-body {
    padding: 6px;

    .ant-statistic-title {
      color: #fff;
    }

    .ant-statistic-content {
      color: #fff;
    }
  }

  h5 {
    margin-top: 30px;
  }

  .week {
    .ant-statistic-title {
      color: #777777;
    }

    .ant-statistic-content {
      width: 40px;
      height: 40px;
      color: #6692FF;
      background: rgba(102, 146, 255, 0.2);
      text-align: center;
      line-height: 40px;
      font-size: 16px;
      border-radius: 4px;
    }
  }
}

.call-phone-mask {
  user-select: none;

  .call-phone {
    input {
      width: 100%;
      display: block;
      border: none;
      outline: none;
      font-size: 30px;
      color: #333;
      text-align: center;

    }

    input::-webkit-input-placeholder {
      color: #d4d4d4;
      font-size: 20px;
    }

    input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #d4d4d4;
      font-size: 20px;
    }

    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #d4d4d4;
      font-size: 20px;
    }

    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #d4d4d4;
      font-size: 20px;
    }

    text-align: center;

    .time {
      display: block;
      font-size: 20px;
      color: #333;
      margin: 5px 0;
    }
  }

  .numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .number {
      width: 60px;
      height: 60px;
      background: rgba(102, 146, 255, 0.2);
      color: #6692FF;
      font-size: 32px;
      text-align: center;
      line-height: 60px;
      margin-right: 40px;
      margin-bottom: 20px;
      border-radius: 50%;
      cursor: pointer;

      &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12) {
        margin-right: 0;
      }
    }
  }

  .btn-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .call-btn {
      margin-right: 50px;
      width: 60px;
      height: 60px;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor: pointer;

      &.call {
        background: url("../images/call-status.png") no-repeat center/cover;
      }

      &.hangup {
        background: url("../images/hangup.png") no-repeat center/cover;
      }
    }

    .backspace {
      width: 60px;
      height: 36px;
      cursor: pointer;
      background: url("../images/backspace.png") no-repeat center/cover;
    }
  }
}

